<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a id="current-page" href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <main>
      <h1>Gunpei Yokoi</h1>
      <img
        src="/img/gunpei-about.jpg"
        alt="Photo presentation for Gunpei Yokoi"
      />
      <p>
        Gunpei Yokoi (横井 軍平, Yokoi Gunpei, 10 September 1941 – 4 October
        1997), sometimes transliterated Gumpei Yokoi, was a Japanese video game
        designer. He was a long-time Nintendo employee, best known as creator of
        the Game & Watch handheld system, inventor of the cross-shaped Control
        Pad, the original designer of the Game Boy, and producer of a few
        long-running and critically acclaimed video game franchises such as
        Metroid and Kid Icarus.
      </p>
    </main>
  </body>
</html>
