<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a id="current-page" href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <main class="works">
      <h1>Ultrahand</h1>
      <p>
        Ultra Hand is a toy that was manufactured by Nintendo in the late 1960s.
        It was created in 1966 by Gunpei Yokoi, who would later design the Love
        Tester, the D-pad, the Game Boy, and the WonderSwan.
      </p>
      <img src="/img/ultrahand.jpg" alt="" />
      <h1>Ten Billion Game</h1>
      <p>
        The Ten Billion Barrel in English and originally tenbirion
        (テンビリオン) in Japanese, is a mathematical puzzle in the style of
        Rubik's Cube.
      </p>
      <img src="/img/ten-billion-game.jpg" alt="" />
      <h1>Game Watch</h1>
      <p>
        The Game & Watch brand (Japanese: ゲーム&ウオッチ Gēmu & Uotchi; called
        Tricotronic in West Germany and Austria, abbreviated as G&W) is a series
        of handheld electronic games developed, manufactured, released, and
        marketed by Nintendo from 1980 to 1991.
      </p>
      <img src="/img/game-watch.jpg" alt="" />
    </main>
  </body>
</html>
