#navbar {
  background: #394a51;
  height: 100px;
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  margin-bottom: 20px;
}

#navbar li {
  display: inline-block;
  list-style-type: none;
  margin: 25px 10px;
}

#navbar a {
  text-decoration: none;
  color: #7fa99b;
}

#navbar a:hover {
  cursor: pointer;
  color: #fdc57b;
}

.second-color {
  background: #7fa99b;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: #fbf2d5;
  font-family: Verdana, monospace;
}

/*Sets diff navbar logic for easy view on current page*/
#navbar #current-page {
  color: #fdc57b;
  text-decoration: overline;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 600px;
  margin-bottom: 20px;
}

main p {
  margin: 0 20%;
}
